<% layout('/layouts/boilerplate') -%>
  <link rel="stylesheet" href="/stylesheet/attendance.css">
  <link rel="stylesheet" href="/stylesheet/monthly.css">

  <div class="container-fluid">
    <a href="/attendance" class="btn btn-sm btn-primary">Back</a>
    <h2 class="text-center">
      Attendance Records for <%= new Date(month).toLocaleDateString([], { year: 'numeric' , month: 'long' }) %>
    </h2>

    <% Object.keys(recordsByClass).forEach(classLabel=> { %>
      <div class="table-container" style="overflow-x: auto;">
        <h3 class="text-center">
          <%= classLabel %>
        </h3>
        <table class="table align-middle mb-0 bg-white">
          <thead class="bg-light">
            <tr>
              <th>Name</th>
              <% for (let day=1; day <=new Date(new Date(month).getFullYear(), new Date(month).getMonth() + 1,
                0).getDate(); day++) { %>
                <th colspan="2">
                  <%= day %>
                </th>
                <% } %>
            </tr>
            <tr>
              <th></th>
              <% for (let day=1; day <=new Date(new Date(month).getFullYear(), new Date(month).getMonth() + 1,
                0).getDate(); day++) { %>
                <th>Time In</th>
                <th>Time Out</th>
                <% } %>
            </tr>
          </thead>
          <tbody>
            <% recordsByClass[classLabel].forEach(record=> { %>
              <% const day=new Date(record.timeIn).getDate(); %>
                <tr>
                  <td>
                    <%= record.label %>
                  </td>
                  <% for (let dayOfMonth=1; dayOfMonth <=new Date(new Date(month).getFullYear(), new
                    Date(month).getMonth() + 1, 0).getDate(); dayOfMonth++) { %>
                    <td>
                      <% if (dayOfMonth===day) { %>
                        <p class="time-in" data-time="<%= new Date(record.timeIn).toISOString() %>">
                          <%= new Date(record.timeIn).toLocaleTimeString([], { hour: '2-digit' , minute: '2-digit' }) %>
                        </p>
                        <% } else { %>
                          N/A
                          <% } %>
                    </td>
                    <td>
                      <% if (dayOfMonth===day) { %>
                        <p class="time-out" data-time="<%= new Date(record.timeOut).toISOString() %>">
                          <%= new Date(record.timeOut).toLocaleTimeString([], { hour: '2-digit' , minute: '2-digit' })
                            %>
                        </p>
                        <% } else { %>
                          N/A
                          <% } %>
                    </td>
                    <% } %>
                </tr>
                <% }) %>
          </tbody>
        </table>
      </div>
      <% }) %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const timeElements = document.querySelectorAll('.time-in, .time-out');
      timeElements.forEach(el => {
        const timeString = el.getAttribute('data-time');
        const localTime = moment(timeString).tz(moment.tz.guess()).format('hh:mm A');
        el.textContent = localTime;
      });
    });
  </script>